//-mixin
- var main = 0;
- var thumb = 0;

mixin productSlider(props)
    section.productSlider
        button.page__btn.page__btn_notTransparent DOWLOAD THE GUIDE
        .wrapper 
            h2.page__title-h2_small easy and fast
            h3.page__title-h3 Throttle response with no delay 
            .productSliderFlexContainer 
                .productSliderGallary
                    .productSliderGallary__Main.gallery-top
                        .swiper-wrapper
                            while main < 6
                                .swiper-slide
                                    img(src=`assets/images/png/products/${props.imageName}.png`, alt="productSliderGallary")
                                div(data-num=main++)
                        .productSliderGallary__Thumbnails-buttons
                            .swiper-button-prev.js--swiper-button-prev
                            .swiper-button-next.js--swiper-button-next
                        
                    .productSliderGallary__Thumbnails.gallery-thumbs
                        .swiper-wrapper
                            while thumb < 6
                                .swiper-slide
                                    img(src=`assets/images/png/products/${props.thumbs}.png`, alt="productSliderGallary")
                                div(data-num=thumb++)
                        
                .productSliderAdvantages
                    each advantage in props.advantages
                        .productSliderAdvantagesItem 
                            img.productSliderAdvantagesItemIcon(src=`assets/images/svg/${advantage.iconName}.svg`, alt="")
                            p #{advantage.text}
                    
                    .productSliderPrice 
                        button.page__btn ADD TO BAG
                        .productSliderPrice__cost $299
                        .productSliderPrice__App 
                            
                            a(href="https://play.google.com/store/apps/details?id=com.montetuning.monte" target="_black") 
                                img(src="assets/images/png/shared/imgGooglePlay.png", alt="imgGooglePlay")
                            
                            a(href="https://apps.apple.com/us/app/monte-gt/id1582142065" target="_black") 
                                img(src="assets/images/png/shared/imgAppStore.png", alt="imgAppStore")
                            
                    .productSliderText *Real world gains may be less or more depending on a large number of contributing factors such as displacement, aspiration and selected tuning mode.
        