mixin SelectBox(name, options)
    .select-box__current(tabindex="1")
        .select-box__value
            input.select-box__input(type="radio" id=`id_${name}` value=name name=name checked)
            p.select-box__input-text=name
        each option, index in options
            .select-box__value
                input.select-box__input(type="radio" id=`id_${name}_name_${option}_idx_${index}` value=option.name name=name )
                p.select-box__input-text #{option}
        .svg-iconArrowSelect.svg-iconArrowSelect-box
    ul.select-box__list
        each option, index in options
            li
                label.select-box__option(for=`id_${name}_name_${option}_idx_${index}` aria-hidden) #{option}
        
